.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fafafa6d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal__open {
  visibility: visible;
}

.modal__close {
  top: 20px;
  right: 28px;
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.modal__title {
  text-align: center;
}

.modal__container {
  background-color: rgb(27, 27, 27);
  position: relative;
  padding: 28px 28px 36px;
  max-width: 496px;
  width: 100%;
  border-radius: 20px;
  box-sizing: border-box;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;
}
